* {
	box-sizing: border-box;
}

body {
	background-color: #eaeaea;
}

.ui.inverted.fixed.menu {
	background-image: linear-gradient(
		135deg,
		rgb(75, 97, 187) 0%,
		rgb(56, 146, 177) 69%,
		rgb(75, 187, 190) 89%
	);
}

.ui.main.container {
	margin-top: 7em;
}

.homepage {
	display: flex;
	align-items: center;
	background-image: linear-gradient(
		135deg,
		rgb(240, 241, 245) 0%,
		rgb(54, 147, 179) 69%,
		rgb(116, 167, 168) 89%
	) !important;
	height: 100vh;
}

.homepage h1.ui.inverted.header {
	font-size: 4em;
}
